:root {
  --primary-color: #c0982b;
  --secondary-color: #d48626;
  --primary-text-color: #333;
  --secondary-text-color: #f4f4f4;
  --background-color: #d0cbcb;
  --nav-background-color: #7e541a;
  --nav-text-color: #f4f4f4;
}
